# Byte-compiled files
*.pyc
*.pyo
__pycache__/

# Virtual environment directories
env/
venv/
ENV/
env.bak/
venv.bak/

# IDE and editor directories
.idea/
.vscode/
*.swp
*.swo

# Dependency directories
.pip/
__pypackages__/

# Distribution / packaging
*.egg
*.egg-info/
dist/
build/
*.tar.gz
*.whl

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# pytest cache
.cache/

# Python coverage reports
*.coverage
.coverage.*
*.hypothesis/

# MyPy type checker
.mypy_cache/
.dmypy.json
dmypy.json

# PyInstaller
*.manifest
*.spec

# VS Code settings
.vscode/

# Mac system files
.DS_Store

# Windows system files
Thumbs.db

# .env file for sensitive information (you may want to ignore this)
.env

# Log files
*.log


# data folder
data/

